<% @title= "發生未知錯誤 - Baabao 八寶網路廣播" %>
<div class="main t-center">
	<img src="../static/images/500.png" class="error-img m-bottom-3" alt="500 發生未知錯誤">
	<h2 class="m-bottom-1">發生未知錯誤</h2>
	<p class="m-bottom-3">很抱歉，我們出了點問題。請先重新整理網頁，如果仍無法順利瀏覽請聯繫我們。</p>
	<a href="./" class="btn btn-outline-secondary m-right-1">回到首頁</a>
	<a href="https://drive.google.com/open?id=1Nn5WlPRJTyReUWDqbLBVG3yZ6o94Ub-e2cQwA7T6fJU" class="btn btn-outline-secondary" target="_blank">聯絡我們</a>
</div>