<% @title= "網站升級中 - Baabao 八寶網路廣播" %>
<div class="main t-center">
	<img src="../static/images/503.png" class="error-img m-bottom-3" alt="503 網站升級中">
	<h2 class="m-bottom-1">網站升級中</h2>
	<p class="m-bottom-3">網站暫時無法使用，先去逛逛我們的粉絲團與部落格，稍後再回來吧</p>
	<a href="https://www.facebook.com/baabaoaudio" target="_blank" class="btn btn-outline-secondary m-right-1">Facebook 粉絲團</a>
	<a href="https://baabaoradio.blogspot.tw/" class="btn btn-outline-secondary" target="_blank">Baabao 部落格</a>
</div>