<!-- downloasd
================================================== -->
<div class="download">
	<h3>免費下載八寶 APP，隨時隨地收聽喜歡的節目</h3>
	<a href="https://itunes.apple.com/us/app/baabao-ba-bao-xian-shang-dian/id1170400660?mt=8" class="download-app download-ios hide-text m-right-2" target="_blank" title="到 APP STORE 下載">到 APP STORE 下載</a>
	<a href="https://play.google.com/store/apps/details?id=com.baabao.android" class="download-app download-android hide-text" target="_blank" title="到 GOOGLE PLAY 下載">到 GOOGLE PLAY 下載</a>
</div>