<!-- footer
================================================== -->
<footer class="site-footer">
  <div class="inner t-center">
    <ul class="site-footer-link m-bottom-2 clearfix">
      <li><a href="about.html">關於我們</a></li>
      <li><a href="https://drive.google.com/open?id=1Nn5WlPRJTyReUWDqbLBVG3yZ6o94Ub-e2cQwA7T6fJU" target="_blank">問題回報</a></li>
      <li><a href="terms-of-service.html">使用條款</a></li>
      <li><a href="privacy-policy.html">隱私權政策</a></li>
    </ul>
    <p class="m-bottom-0">Copyright © 2017 Baabao. All Rights Reserved.</p>
  </div> <!-- /inner -->
</footer> <!-- /site-footer -->