<% @title= "Baabao 八寶網路廣播" %>
<ul class="list list-hover list-ep">
	<% 10.times do %>
	<li>
		<a href="episode.html" class="is-block">
			<div class="ep-cover"><img src="../static/images/cover.jpg" alt="單集名稱"></div>
			<div class="ep-text">
				<div class="text-wrapper">
					<div class="vertical-wrapper">
						<h3 class="webkit-ellipsis-2">超無狄der。帥帥的韓國歐巴日本求學記</h3>
						<span class="m-right-2"><i class="ic ic-duration"></i> 23:09</span><span><i class="ic ic-upload"></i> 2016/11/10</span>
					</div>
				</div>
			</div>
		</a>
	</li>
	<% end %>
</ul>
<div class="p-top-3 p-bottom-3 t-center">
	<button class="btn btn-default" type="button">載入更多</button>
</div>