<% @title= "超無狄der - Baabao 八寶網路廣播" %>
<div class="main reverse t-center">
	<img class="cover pg-cover" src="../static/images/cover.jpg" alt="單集名稱">
	<h1 class="title">超無狄der</h1>
	<p class="subtitle">DJ小狄</p>
	<div class="pg-meta clearfix">
		<span>41集</span><span>69位粉絲</span>
	</div>
</div>
<input type="checkbox" id="des-toggle" class="hide">
<div class="pg-des">
	<p>非常熱心公益的趙立大哥，只要高雄市民需要他，任何新聞他都是衝第一。衝新聞之餘，沒想到他還隨時變身成為超級大英雄，隨時無預警的出現，給大家滿滿的溫暖，就像今年聖誕節他的聖誕老公公已經跑遍了大高雄，不管是公益團體或是市民朋友們應該都有感受到他帶給我們的溫暖吧，所以超無狄der當然要把我們的無敵英雄抓來訪問一下囉! 想知道無敵英雄是如何養成的嗎?還有攝影記者的工作甘苦談嗎?點進來就對了!!</p>
	<label for="des-toggle">閱讀更多</label>
</div>
<ul class="list list-hover list-ep">
	<% 10.times do %>
	<li>
		<a href="episode.html" class="is-block">
			<div class="ep-cover"><img src="../static/images/cover.jpg" alt="單集名稱"></div>
			<div class="ep-text">
				<div class="text-wrapper">
					<div class="vertical-wrapper">
						<h3 class="webkit-ellipsis-2">超無狄der。帥帥的韓國歐巴日本求學記</h3>
						<span class="m-right-2"><i class="ic ic-duration"></i> 23:09</span><span><i class="ic ic-upload"></i> 2016/11/10</span>
					</div>
				</div>
			</div>
		</a>
	</li>
	<% end %>
</ul>
<div class="p-top-3 p-bottom-3 t-center">
	<button class="btn btn-default" type="button">載入更多</button>
</div>