<!-- modal-add-ep
================================================== -->
<div id="modal-add-ep" class="modal hide fade">
	<div class="modal-dialog modal-group">
	  <div class="modal-header">
	    <h4>新增單集</h4>
	    <button class="btn btn-transparent btn-icon btn-close-modal" type="button" title="關閉視窗">
	    	<i class="ic ic-close"></i>
    	</button>
	  </div> <!-- /modal-header -->
	  <div class="modal-body">
	    <input name="producer-name" type="text" value="" placeholder="輸入單集 ID">
	  </div> <!-- /modal-body -->
	  <div class="modal-footer">
	    <button class="btn btn-default btn-cancel" type="button">取消</button>
	    <a href="management_empty.html" class="btn btn-primary btn-save disabled">新增</a>
	  </div> <!-- /modal-footer -->
	</div> <!-- /modal-dialog -->
</div> <!-- /modal -->