<!-- modal-edit-collection
================================================== -->
<div id="modal-edit-collection" class="modal hide fade">
	<div class="modal-dialog modal-group">
	  <div class="modal-header">
	    <h4>編輯精選資訊</h4>
	    <button class="btn btn-transparent btn-icon btn-close-modal" type="button" title="關閉視窗">
	    	<i class="ic ic-close"></i>
    	</button>
	  </div> <!-- /modal-header -->
	  <div class="modal-body">
	    <label for="producer-name">精選名稱</label>
	    <input name="producer-name" type="text" value="新鮮上架">
			<div class="radio-group">
  			<label class="radio-inline">
  			  <input type="radio" name="collectionPrivacy2" checked> 公開
  			</label>
  			<label class="radio-inline">
  		    <input type="radio" name="collectionPrivacy2"> 隱藏
  			</label>
  		</div> <!-- /radio-group -->
	  </div> <!-- /modal-body -->
	  <div class="modal-footer">
	    <button class="btn btn-default btn-cancel" type="button">取消</button>
	    <a href="management_empty.html" class="btn btn-primary btn-save disabled">儲存</a>
	  </div> <!-- /modal-footer -->
	</div> <!-- /modal-dialog -->
</div> <!-- /modal -->