<!-- modal-delete-collection
================================================== -->
<div id="modal-delete-collection" class="modal hide fade">
	<div class="modal-dialog modal-group modal-sm">
	  <div class="modal-header">
	    <h4>刪除精選</h4>
	    <button class="btn btn-transparent btn-icon btn-close-modal" type="button" title="關閉視窗">
	    	<i class="ic ic-close"></i>
    	</button>
	  </div> <!-- /modal-header -->
	  <div class="modal-body">
	    <p class="m-bottom-0">此精選集將會被完全刪除，如果你只是想要變更部分內容，可以選擇「編輯」。</p>
	  </div> <!-- /modal-body -->
	  <div class="modal-footer">
	    <button class="btn btn-default btn-cancel" type="button">取消</button>
	    <button class="btn btn-primary btn-save" type="button">刪除</button>
	  </div> <!-- /modal-footer -->
	</div> <!-- /modal-dialog -->
</div> <!-- /modal -->