<% @title= "數據總覽 - Baabao 八寶網路廣播" %>
<h2 class="breadcrumb ellipsis m-bottom-5">
	<a href="overview.html">數據總覽</a>超無狄der
</h2> <!-- /breadcrumb -->
<div class="chart-header m-bottom-5 clearfix">
  <ul class="nav-tab tab-underline">
		<li class="active"><a href="javascript: void(0)"><span>1,253</span>收聽次數</a></li>
		<li><a href="javascript: void(0)"><span>569</span>收聽人數</a></li>
		<li><a href="javascript: void(0)"><span>2:35</span>平均時間</a></li>
		<li><a href="javascript: void(0)"><span>08:00</span>收聽時段</a></li>
		<li><a href="javascript: void(0)"><span>147</span>訂閱數</a></li>
	</ul> <!-- /nav-tab -->
	<%= render :partial => "../datepicker" %>
</div> <!-- /chart-header -->
<div class="m-bottom-8 chart-area">
  <div id="chart-pg-play"></div> <!-- /chart-pg-play -->
  <script>
    var chart = c3.generate({
      bindto: '#chart-pg-play',
      size: {
        height: 320
      },
      padding: {
        right: 30
      },
      color: {
        pattern: ['#7876DD']
      },
      legend: {
        show: false
      },
      data: {
        x: 'x',
        columns: [
          ['x', '2016-11-15', '2016-11-16', '2016-11-17', '2016-11-18', '2016-11-19', '2016-11-20', '2016-11-21'],
          ['超無狄der', 260, 220, 250, 300, 180, 250, 120]
        ],
        type: 'area'
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%Y/%m/%d'
          }
        },
        y: {
          label: {
            text: '單位(次數)',
            position: 'outer-middle'
          }
        }
      }
    });
  </script>
</div> <!-- /m-bottom-8 -->
<div class="m-bottom-8 chart-area hide">
  <div id="chart-pg-listener"></div> <!-- /chart-pg-listener -->
  <script>
    var chart = c3.generate({
      bindto: '#chart-pg-listener',
      size: {
        height: 320
      },
      padding: {
        right: 30
      },
      color: {
        pattern: ['#7876DD']
      },
      legend: {
        show: false
      },
      data: {
        x: 'x',
        columns: [
          ['x', '2016-11-15', '2016-11-16', '2016-11-17', '2016-11-18', '2016-11-19', '2016-11-20', '2016-11-21'],
          ['超無狄der', 22, 46, 35, 32, 28, 45, 32]
        ],
        type: 'area'
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%Y/%m/%d'
          }
        },
        y: {
          label: {
            text: '單位(人數)',
            position: 'outer-middle'
          }
        }
      }
    });
  </script>
</div> <!-- /m-bottom-8 -->
<div class="m-bottom-8 chart-area hide">
  <div id="chart-pg-duration"></div> <!-- /chart-pg-duration -->
  <script>
    var chart = c3.generate({
      bindto: '#chart-pg-duration',
      size: {
        height: 320
      },
      padding: {
        right: 30
      },
      color: {
        pattern: ['#7876DD']
      },
      legend: {
        show: false
      },
      data: {
        x: 'x',
        columns: [
          ['x', '2016-11-15', '2016-11-16', '2016-11-17', '2016-11-18', '2016-11-19', '2016-11-20', '2016-11-21'],
          ['超無狄der', '145', '135', '225', '305', '165', '125', '100']
        ],
        type: 'area'
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%Y/%m/%d'
          }
        },
        y: {
          label: {
            text: '單位(人數)',
            position: 'outer-middle'
          }
        }
      }
    });
  </script>
</div> <!-- /m-bottom-8 -->
<div class="m-bottom-8 chart-area hide">
  <div id="chart-pg-time"></div> <!-- /chart-pg-time -->
  <script>
    var chart = c3.generate({
      bindto: '#chart-pg-time',
      size: {
        height: 320
      },
      padding: {
        right: 30
      },
      color: {
        pattern: ['#7876DD']
      },
      legend: {
        show: false
      },
      data: {
        x: 'x',
        columns: [
          ['x', '00:00','01:00','02:00','03:00','04:00','05:00','06:00','07:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00'],
          ['超無狄der', '18', '12', '8', '3', '3', '5', '8', '25', '35', '32', '28', '25', '25', '28', '22', '20', '10', '8', '22', '18', '19', '12', '15', '20']
        ],
        type: 'area'
      },
      axis: {
        x: {
            type: 'category'
        },
        y: {
          label: {
            text: '單位(人數)',
            position: 'outer-middle'
          }
        }
      }
    });
  </script>
</div> <!-- /m-bottom-8 -->
<div class="m-bottom-8 chart-area hide">
  <div id="chart-pg-subscription"></div> <!-- /chart-pg-subscription -->
  <script>
    var chart = c3.generate({
      bindto: '#chart-pg-subscription',
      size: {
        height: 320
      },
      padding: {
        right: 30
      },
      color: {
        pattern: ['#7876DD']
      },
      legend: {
        show: false
      },
      data: {
        x: 'x',
        columns: [
          ['x', '2016-11-15', '2016-11-16', '2016-11-17', '2016-11-18', '2016-11-19', '2016-11-20', '2016-11-21'],
          ['超無狄der', '20', '15', '25', '30', '15', '12', '10']
        ],
        type: 'area'
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%Y/%m/%d'
          }
        },
        y: {
          label: {
            text: '單位(人數)',
            position: 'outer-middle'
          }
        }
      }
    });
  </script>
</div> <!-- /m-bottom-8 -->
<%= render :partial => "../chart-pie" %>
  <table class="table table-hover table-cms m-bottom-8">
    <thead>
      <tr>
        <th style="width: 8%">
          <a class="sorting" href="javascript: void(0)">ID</a>
        </th>
        <th style="width: 37%">單集</th>
        <th style="width: 12%">
          <a class="sorting" href="javascript: void(0)">收聽次數</a>
        </th>
        <th style="width: 12%">
          <a class="sorting" href="javascript: void(0)">收聽人數</a>
        </th>
        <th style="width: 12%">
          <a class="sorting" href="javascript: void(0)">平均時間</a>
        </th>
        <th style="width: 12%"><a class="sorting sorting-desc" href="javascript: void(0)">發佈時間</a></th>
        <th style="width: 7%" class="t-center">預覽</th>
      </tr>
    </thead>
    <tbody>
      <% 20.times do%>
      <tr>
        <td>
          <span class="cms-meta">12345</span>
        </td>
        <td>
          <a href="analytics-episode.html">超無狄der。青少年變種忍者龜與電影忍者龜變種世代</a>
          <span class="cms-meta m-top-1">1:23:45</span>
        </td>
        <td>856</td>
        <td>265</td>
        <td>2:35</td>
        <td>
          <span class="cms-meta">2017/02/15<br>15:00</span>
        </td>
        <td class="t-center">
          <a href="../episode.html" target="_blank"><i class="ic ic-preview"></i></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table> <!-- /table-cms -->
  <div class="t-center">
    <%= render :partial => "../pagination" %>
  </div>