<% @title= "登入 - Baabao 八寶管理系統" %>

<% content_for :login do %><% end %>

<div class="col-6 offset-3 t-center">
	<h2>登入 Baabao 管理系統</h2>
	<input type="text" placeholder="帳號">
	<input type="password" placeholder="密碼">
  <a href="overview.html" class="btn btn-block btn-primary">登入</a>
</div>