<% @title= "找不到頁面 - Baabao 八寶網路廣播" %>
<div class="t-center">
	<img src="static/images/404.png" class="error-img m-bottom-3" alt="404 找不到頁面">
	<h2 class="m-bottom-1">找不到頁面</h2>
	<p class="m-bottom-3">很抱歉，找不到你要前往的頁面，請重新輸入網址或回到八寶首頁。</p>
	<a href="./" class="btn btn-outline-secondary">回到首頁</a>
</div>