<h2>關於我們</h2>
<div class="divider m-bottom-5"></div> <!-- /divider -->
<h3>讓我們的平台成為聽眾生活不可或缺的一部分</h3>
<p>八寶網播是台灣第一家連結製作人和聽眾的隨選隨聽(Radio-on-Demand)網路廣播平台。我們是一群對廣播有熱情、有理想的人，想在台灣帶起自製廣播的風潮，所以我們決定成立八寶。八寶提供製作人自由開放的空間，讓任何對製作廣播有興趣的人都可以上傳自製節目，累積聽眾和影響力。八寶對於聽眾也有許多不同的節目推薦方式，讓聽眾快速找到最喜歡的節目，和製作人及其他聽眾交流，幫助製作人作更多品質更精良的節目。</p>
<p>八寶的本意是圓滿與幸福，這就是我們取名為八寶時，心中對這個平台的期許。希望讓收聽八寶的人，時時都感覺有相同興趣的人和你作伴，再也不孤單。同時我們想像八寶這個平台，如同過年時放糖果的八寶盒一樣豐富多元，有各式各樣充滿吸引力的節目，讓我們的平台成為聽眾生活不可或缺的一部分，讓八寶成為網路廣播的代名詞。</p>
<p>為了提供製作人和聽眾打造最好的使用者體驗，八寶會不斷的進化。未來我們會提供製作人更多管理節目的機制、聽眾更多個人化選項等更好的服務。八寶的目標是讓加入平台的每個人都能找到歸屬感，找到志同道合的朋友，共同享受優質的廣播節目。一起在八寶建立台灣最大的網路廣播社群。</p>