<div class="alert-wrapper fadeInOut">
	<div class="alert alert-dismissible alert-info">
	  <%= yield :alert_text %>
	  <button class="btn btn-icon btn-transparent btn-close" type="button"><i class="ic ic-close"></i></button>
	</div>
</div>