<!-- carousel
================================================== -->
<div class="carousel m-bottom-2">
	<div class="carousel-inner">
		<div class="item active">
			<div class="row">
				<% 4.times do %>
				<div class="col-3">
					<div class="card card-ep">
						<div class="card-artwork">
							<img src="static/images/cover.jpg" alt="超無狄der。青少年變種忍者龜與電影忍者龜變種世代">
							<div class="card-overlay">
								<a class="card-artwork-link" href="episode.html"></a>
								<button class="btn btn-icon btn-primary btn-play" type="button">
									<i class="ic ic-play"></i>
								</button>
							</div> <!-- /card-overlay -->
						</div> <!-- /card-artwork -->
						<h3 class="card-title webkit-ellipsis-2">
							<a href="episode.html">超無狄der。青少年變種忍者龜與電影忍者龜變種世代</a>
						</h3>
						<h4 class="card-meta ellipsis">
							<a href="program.html">超無狄der</a>
						</h4>
					</div><!-- /card-ep -->
				</div><!-- /col-md-3 -->
				<% end %>
			</div><!-- /row -->
		</div><!-- /item -->
		<div class="item">
			<div class="row">
				<% 4.times do %>
				<div class="col-3">
					<div class="card card-ep">
						<div class="card-artwork" href="episode.html" title="超無狄der。青少年變種忍者龜與電影忍者龜變種世代">
							<div class="card-overlay">
								<button class="btn btn-icon btn-primary btn-play" type="button">
									<i class="ic ic-play"></i>
								</button>
								<a class="card-artwork-link" href="episode.html" title="超無狄der。青少年變種忍者龜與電影忍者龜變種世代"></a>
							</div> <!-- /card-overlay -->
							<img src="static/images/cover-default.jpg">
						</div> <!-- /card-artwork -->
						<h3 class="card-title webkit-ellipsis-2">
							<a href="episode.html">超無狄der。青少年變種忍者龜與電影忍者龜變種世代</a>
						</h3>
						<h4 class="card-meta ellipsis">
							<a href="program.html">超無狄der</a>
						</h4>
					</div><!-- /card-ep -->
				</div><!-- /col-md-3 -->
				<% end %>
			</div><!-- /row -->
		</div><!-- /item -->
	</div><!-- /carousel-inner -->
	<a class="carousel-control carousel-prev" href="javascript: void(0)" role="button">
		<i class="ic ic-nav-prev"></i>
	</a><!-- /carousel-control -->
	<a class="carousel-control right carousel-next" href="javascript: void(0)" role="button">
		<i class="ic ic-nav-next"></i>
	</a><!-- /carousel-control -->
</div><!-- /carousel-->