<!-- footer
================================================== -->
<footer class="site-footer">
	<div class="inner">
    <div class="row p-top-5 p-bottom-5">
  		<div class="col-7">
  			<ul class="footer-link m-bottom-3">
  				<li class="whole-block"><h5 class="m-bottom-1">關於八寶</h5></li>
  				<li><a href="about.html">關於我們</a></li>
          <li><a href="faq.html">常見問題</a></li>
  				<!-- <li><a href="tutorial.html">製作教學</a></li> -->
  				<li><a href="https://drive.google.com/open?id=1Nn5WlPRJTyReUWDqbLBVG3yZ6o94Ub-e2cQwA7T6fJU" target="_blank">問題回報</a></li>
  				<li><a href="recruit.html">人才招募</a></li>
  				<li><a href="terms-of-service.html">使用條款</a></li>
  				<li><a href="privacy-policy.html">隱私權政策</a></li>
  			</ul>
  			<ul class="footer-link">
  				<li class="whole-block"><h5 class="m-bottom-1">追蹤最新消息</h5></li>
  				<li><a href="https://www.facebook.com/baabaoradio" target="_blank">Facebook</a></li>
  				<li><a href="https://baabaoradio.blogspot.tw/" target="_blank">Blog</a></li>
  			</ul>
  		</div> <!-- /footer-link -->
  		<div class="col-5 t-right">
				<div class="fb-page" data-href="https://www.facebook.com/baabaoradio" data-height="155" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/baabaoaudio" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/baabaoaudio">Baabao 八寶</a></blockquote></div>
        <!-- fb js -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <!-- /fb js -->
  		</div> <!-- /footer-fb -->
    </div> <!-- /row -->
  </div> <!-- /inner -->
  <div class="copyright">Copyright © 2017 Baabao. All Rights Reserved.</div> <!-- /copyright -->
</footer> <!-- /site-footer -->