<!-- header
================================================== -->
<header class="site-header">
	<div class="inner">
		<h1 class="site-header-logo pull-left"><a class="hide-text" href="./" title="返回首頁">Baabao 八寶網路廣播</a></h1>
		<div class="site-header-search input-group pull-left m-left-2">
			<input type="text" class="input-search with-icon" placeholder="搜尋">
			<i class="ic ic-search"></i>
		</div>
		<div class="pull-right">
			<ul class="site-header-link pull-left">
				<li><a href="category.html" title="節目分類">節目分類</a></li>
				<li class="hide"><a href="tutorial.html" title="製作教學">製作教學</a></li>
			</ul> <!-- /site-header-link -->
			<div class="site-header-login pull-left m-left-2">
				<button class="btn btn-outline-default btn-apply hide" type="button">成為 DJ</button>
				<button class="btn btn-outline-default btn-login hide" type="button">登入/註冊</button>
				<div class="dropdown dropdown-member">
				  <button class="btn btn-transparent btn-link-reverse btn-dropdown-toggle btn-member" type="button">
					  <img class="member-img" src="static/images/member.jpg" alt="八寶熊貓">
					  <span class="member-name ellipsis">八寶熊貓<i class="ic-caret"></i></span>
					</button>
				  <ul class="dropdown-menu right bottom">
				  	<li><a href="management.html">節目管理</a></li>
				  	<li><a href="analytics.html">數據統計</a></li>
				    <li><a href="subscription.html">我的訂閱</a></li>
				    <li><a href="account.html">帳號設定</a></li>
				    <li><a href="javascript: void(0)">登出</a></li>
				  </ul> <!-- /dropdown-menu -->
				</div> <!-- /dropdown-member -->
			</div> <!-- /site-header-login -->
		</div> <!-- /pull-right -->
	</div> <!-- /inner -->
</header> <!-- /site-header -->