<!-- modal-spinner
================================================== -->
<div class="modal-spinner hide">
	<div class="vertical-wrapper">
		<div class="spinner spinner-white spinner-l"></div> <!-- /spinner -->
	</div> <!-- /vertical-wrapper -->
</div> <!-- /modal-spinner -->