<!-- modal-share-pg
================================================== -->
<div id="modal-share-pg" class="modal hide fade">
  <div class="modal-dialog modal-group">
  	<div class="modal-header">
      <h4>分享節目</h4>
			<button class="btn btn-transparent btn-icon btn-close-modal" type="button" title="關閉視窗">
        <i class="ic ic-close"></i>
      </button>
  	</div> <!-- /modal-header -->
    <div class="modal-body">
  		<input class="input-page-link m-bottom-3" name="page-link" type="text" value="https://baabao.com/single-program/32/">
  		<div class="btn-share-group addthis_inline_share_toolbox"></div>
  		<!-- /addthis-->
    </div> <!-- /modal-body -->
  </div> <!-- /modal-dialog -->
</div> <!-- /modal -->