<!-- pagination
================================================== -->
<div class="pagination-wrap">
  <ul class="pagination">
    <li><a class="btn btn-default" href="#" title="上一頁">«</a></li>
    <li><a class="btn btn-default" href="#" title="往前5頁">...</a></li>
    <li><a class="btn btn-default" href="#" title="第2頁">2</a></li>
    <li><a class="btn btn-default" href="#" title="第3頁">3</a></li>
    <li><a class="btn btn-default" href="#" title="第4頁">4</a></li>
    <li><a class="btn btn-default" href="#" title="第5頁">5</a></li>
    <li><a class="btn btn-default active" href="#" title="第6頁">6</a></li>
    <li><a class="btn btn-default" href="#" title="第7頁">7</a></li>
    <li><a class="btn btn-default" href="#" title="第8頁">8</a></li>
    <li><a class="btn btn-default" href="#" title="第9頁">9</a></li>
    <li><a class="btn btn-default" href="#" title="第10頁">10</a></li>
    <li><a class="btn btn-default" href="#" title="往後5頁">...</a></li>
    <li><a class="btn btn-default" href="#" title="下一頁">»</a></li>
  </ul> <!-- /pagination -->
</div> <!-- /pagination-wrap -->