<!-- promote
================================================== -->
<div class="promote">
	<div class="row">
		<div class="col-8 promote-content">
			<h4>免費下載八寶 APP<br>隨時隨地收聽喜歡的節目</h4>
			<div class="download">
				<a href="https://itunes.apple.com/us/app/baabao-ba-bao-xian-shang-dian/id1170400660?mt=8" class="download-app download-ios hide-text" target="_blank" title="到 APP STORE 下載">到 APP STORE 下載</a>
				<a href="https://play.google.com/store/apps/details?id=com.baabao.android" class="download-app download-android hide-text" target="_blank" title="到 GOOGLE PLAY 下載">到 GOOGLE PLAY 下載</a>
			</div> <!-- /download -->
		</div> <!-- /promote-content -->
	</div> <!-- /row -->
</div> <!-- /promote -->