<% @title= "超無狄der。青少年變種忍者龜與電影忍者龜變種世代 - Baabao 八寶網路廣播" %>
<% content_for :fullpage do %>
<div class="ep-header-wrapper">
	<div class="inner">
		<div class="row">
			<div class="col-3">
				<div class="ep-cover"><img src="static/images/cover.jpg" alt="超無狄der。青少年變種忍者龜與電影忍者龜變種世代"></div> <!-- /ep-cover -->
			</div> <!-- /col-3 -->
			<div class="col-9 p-top-2 p-left-6">
				<header class="ep-header">
					<div class="play-btn-wrapper">
						<button class="btn btn-primary btn-ic btn-play" type="button">
							<i class="ic ic-play"></i>
						</button>
						<button class="btn btn-primary btn-ic btn-pause hide" type="button">
							<i class="ic ic-pause"></i>
						</button>
						<button class="btn btn-primary btn-spinner hide" type="button">
							<div class="spinner spinner-white spinner-l"></div>
						</button>
					</div> <!-- /play-btn-wrapper -->
					<div class="ep-header-content">
						<h1 class="m-bottom-1">超無狄der。青少年變種忍者龜與電影忍者龜變種世代</h1>
						<p class="pg-title m-bottom-3">節目：<a href="program.html">超無狄der</a></p>
						<div class="emoji-btn-wrapper">
							<button class="btn btn-outline-secondary btn-lg btn-emoji tooltip tooltip-top" type="button" data-tooltip="給個鼓勵">
								<div class="emoji-overlay"></div>
								<span class="emoji emoji1"></span> 108
							</button>
							<button class="btn btn-outline-secondary btn-lg btn-emoji tooltip tooltip-top" type="button" data-tooltip="笑到飆淚">
								<div class="emoji-overlay"></div>
								<span class="emoji emoji2"></span> 9
							</button>
							<button class="btn btn-outline-secondary btn-lg btn-emoji tooltip tooltip-top" type="button" data-tooltip="值得一看">
								<div class="emoji-overlay"></div>
								<span class="emoji emoji12"></span> 23
							</button>
						</div> <!-- /emoji-btn-wrapper -->
					</div> <!-- /ep-header-content -->
					<button class="btn btn-default btn-share-ep"><i class="ic ic-share"></i> 分享</button>
				</header> <!-- /ep-header -->
			</div> <!-- /col-9 -->
		</div> <!-- /row -->
	</div> <!-- /inner -->
</div> <!-- /ep-header-wrapper -->
<div class="inner">
	<div class="row">
		<article class="col-9 offset-3 p-left-6 p-top-8">
			<section class="m-bottom-5">
				<h2 class="m-bottom-2">單集敘述</h2>
				<p class="ep-meta m-bottom-1">
					<span class="m-right-3">本集長度 <time>25:19</time></span><span class="m-right-3">發佈時間 <time>2016/08/03</time></span>
				</p>
				<p class="ep-des webkit-ellipsis-3 m-bottom-0">看看韓國歐巴怎麼闖蕩日本?! !! 打開八寶，聽見 Bravo!! 真的讓大家久等了，不好意思壓壓壓壓壓壓壓~~~ 讓大家期待已久的超無狄der這次一口氣推出第三集、第四集！ 同時宣佈好消息，以後＂超無狄der＂會固定在每週五晚上九點前上傳最新集數，請大家鎖定節目，準時收聽</p>
				<a class="read-more" href="javascript:void(0)">閱讀更多</a>
			</section> <!-- /m-bottom-5 -->
			<section class="m-bottom-4">
				<h2 class="m-bottom-2">單集標籤</h2>
				<div class="clearfix">
					<a href="tag.html" class="tag" title="標籤：電影">電影</a>
					<a href="tag.html" class="tag" title="標籤：忍者龜">忍者龜</a>
					<a href="tag.html" class="tag" title="標籤：英雄">英雄</a>
					<a href="tag.html" class="tag" title="標籤：好萊塢">好萊塢</a>
					<a href="tag.html" class="tag" title="標籤：超無狄">超無狄</a>
				</div> <!-- /clearfix -->
			</section> <!-- /m-bottom-5 -->
			<section class="m-bottom-8">
				<header class="header-other-ep">
					<div class="row">
						<div class="col-9">
							<h2 class="m-bottom-2">其他單集</h2>
						</div> <!-- /col-9 -->
						<div class="col-3 t-right">
							<button class="btn btn-primary" type="button"><i class="ic ic-star"></i> 訂閱節目</button>
							<button class="btn btn-default hide" type="button">訂閱中</button>
						</div> <!-- /col-3 -->
					</div> <!-- /row -->
				</header> <!-- /header-other-ep -->
				<ul class="list list-hover list-other-ep m-bottom-2">
					<li class="played">
						<div class="row">
							<div class="col-9 other-ep-title">
								<span class="dot tooltip tooltip-left" data-tooltip="已播放"></span>
								<h4><a class="ellipsis" href="episode.html">超無狄der。青少年變種忍者龜與電影忍者龜變種世代</a></h4>
							</div> <!-- /other-ep-title -->
							<div class="col-3 other-ep-date">
								<span>2016/11/12</span>
							</div> <!-- /other-ep-date -->
						</div> <!-- /row -->
					</li>
					<% 4.times do %>
					<li>
						<div class="row">
							<div class="col-9 other-ep-title">
								<span class="dot tooltip tooltip-left" data-tooltip="尚未播放"></span>
								<h4><a class="ellipsis.html" href="episode.html">超無狄der。青少年變種忍者龜與電影忍者龜變種世代</a></h4>
							</div> <!-- /other-ep-title -->
							<div class="col-3 other-ep-date">
								<span>2016/11/11</span>
							</div> <!-- /other-ep-date -->
						</div> <!-- /row -->
					</li>
					<% end %>
				</ul> <!-- /list-other-ep -->
				<div class="clearfix">
					<a href="program.html" class="pull-right">瀏覽更多單集 →</a>
				</div>
			</section> <!-- /m-bottom-8 -->
			<%= render :partial => "promote" %>
		</article>
	</div> <!-- /row -->
	<%= render :partial => "modal-share-ep" %>
</div>
<% end %>