<% @title= "常見問題 - Baabao 八寶網路廣播" %>
<h2>常見問題</h2>
<div class="divider"></div> <!-- /divider -->
<div class="row">
	<div class="col-3 p-top-4">
		<ul class="list list-link list-side-link">
			<li class="active"><a href="#faq-produce">節目製作</a></li>
			<li><a href="#faq-listen">節目收聽</a></li>
		</ul>
	</div> <!-- /col-3 -->
	<div class="col-9 p-left-3 p-top-2 content-right">
		<div id="faq-produce" class="m-bottom-5 p-top-3">
			<h2 class="title m-bottom-3">節目製作</h2>
			<ul class="faq">
				<li id="be-baabao-producer">
					<h3 class="question"><a href="#be-baabao-producer">Q：如何成為八寶 DJ？</a></h3>
					<div class="answer">
						<p>只要三步驟，輕鬆成為 DJ！</p>
						<p>使用 Facebook 或 Google 帳號註冊或登入八寶會員。</p>
						<img src="static/images/faq/1-1.jpg" alt="登入八寶會員">
						<p>點擊「成為 DJ」按鈕。</p>
						<img src="static/images/faq/1-2.jpg" alt="成為八寶製作人">
						<p>填寫製作人名稱，並勾選同意遵守條款，送出即可成為八寶 DJ。</p>
						<img src="static/images/faq/1-3.jpg" alt="填寫製作人名稱">
					</div>
				</li>
				<li id="create-program">
					<h3 class="question"><a href="#create-program">Q：如何建立節目？</a></h3>
					<div class="answer">
						<p>點擊導覽列的會員頭圖，於下拉選單中選擇「節目管理」。</p>
						<img src="static/images/faq/2-1.jpg" alt="進入節目管理">
						<p>點擊「建立新節目」按鈕。</p>
						<img src="static/images/faq/2-2.jpg" alt="建立新節目">
						<p>填寫節目資訊，儲存即完成建立。</p>
						<img src="static/images/faq/2-3.jpg" alt="完成建立節目">
					</div>
				</li>
				<li id="create-episode">
					<h3 class="question"><a href="#create-episode">Q：如何新增單集？</a></h3>
					<div class="answer">
						<p>點擊導覽列的會員頭圖，於下拉選單中選擇「節目管理」。</p>
						<img src="static/images/faq/2-1.jpg" alt="進入節目管理">
						<p>方法一：在節目列表上點擊「+」按鈕。<br>方法二：在節目列表點擊節目標題進入單集列表，點擊「新增單集」按鈕。</p>
						<img src="static/images/faq/3-1.jpg" alt="新增單集">
						<img src="static/images/faq/3-1-2.jpg" alt="新增單集">
						<p>上傳音訊檔案並填寫單集資訊，儲存後即完成新增。</p>
						<img src="static/images/faq/3-2.jpg" alt="完成新增單集">
						<p>你可以點選「檢視」按鈕前往單集頁面。</p>
						<img src="static/images/faq/3-3.jpg" alt="檢視單集">
						<img src="static/images/faq/3-4.jpg" alt="節目單集">
					</div>
				</li>
				<li id="can-not-upload-image">
					<h3 class="question"><a href="#can-not-upload-image">Q：為什麼我無法上傳節目封面圖片？</a></h3>
					<div class="answer">
						<p>請確認你的圖片格式是否為 .jpg、檔案大小在 2MB 內，並且長寬大於 400px；若為其他圖片格式，可以使用線上轉檔工具 <a href="https://convertio.co/" target="_blank">https://convertio.co/</a> 轉檔再上傳。</p>
					</div>
				</li>
				<li id="can-not-upload-audio">
					<h3 class="question"><a href="#can-not-upload-audio">Q：為什麼我無法上傳音訊檔案？</a></h3>
					<div class="answer">
						<p>請確認你的音訊檔案格式是否為 .mp3；若為其他音訊格式，可以使用線上轉檔工具 <a href="https://convertio.co/" target="_blank">https://convertio.co/</a> 進行轉檔再進行上傳。</p>
					</div>
				</li>
				<li id="embed-player">
					<h3 class="question"><a href="#embed-player">Q：我要怎麼把單集嵌入在網站或部落格內？</a></h3>
					<div class="answer">
						<p>方法一：在單集頁面中，點擊「分享」按鈕。<br>方法二：在節目管理的單集列表中，點擊「更多」按鈕並選擇「分享」。</p>
						<img src="static/images/faq/4-1.jpg" alt="分享單集">
						<img src="static/images/faq/4-1-2.jpg" alt="分享單集">
						<p>切換至嵌入分頁，選擇你想要的版型，複製嵌入碼。</p>
						<img src="static/images/faq/4-2.jpg" alt="分享單集">
						<p>將嵌入碼貼入你的網頁或部落格編輯器中，你仍可以調整嵌入播放器的尺寸。</p>
						<img src="static/images/faq/4-3.jpg" alt="分享單集">
						<img src="static/images/faq/4-4.jpg" alt="分享單集">
					</div>
				</li>
				<li id="can-not-preview-my-program">
					<h3 class="question"><a href="#can-not-preview-my-program">Q：為什麼看不到我的節目頁面？</a></h3>
					<div class="answer">
						<p>因為你的節目內還沒有單集，趕快上傳單集與聽眾分享吧！</p>
					</div>
				</li>
				<li id="choose-recording-device">
					<h3 class="question"><a href="#choose-recording-device">Q：我需要用什麼器材錄音？</a></h3>
					<div class="answer">
						<ul>
							<li>
								<h4>麥克風</h4>
								<p>你可以直接使用電腦或是耳機附帶的麥克風，但使用專業的指麥克風可以讓你的節目呈現最佳狀態。</p>
								<p>如何選擇合適的麥克風？<br><a href="http://blog.baabao.com/2017/03/blog-post_15.html" target="_balnk">http://blog.baabao.com/2017/03/blog-post_15.html</a></p>
							</li>
							<li>
								<h4 class="m-top-3">耳機</h4>
								<p>在錄音時使用耳機可以觀察自己的談話與環境噪音，練習找到麥克風的最佳發聲位置，可依照自己的習慣調整。</p>
								<p>如何選擇合適的耳機？<br><a href="http://blog.baabao.com/2017/04/6.html" target="_balnk">http://blog.baabao.com/2017/04/6.html</a></p>
							</li>
						</ul>
					</div>
				</li>
				<li id="choose-recording-software">
					<h3 class="question"><a href="#choose-recording-software">Q：我可以用什麼軟體錄音？</a></h3>
					<div class="answer">
						<ul>
							<li>
								<h4>Windows 7</h4>
								<p>點選「開始」>「所有程式」>「附屬應用程式」>「錄音機」，開啟錄音程式。</p>
							</li>
							<li>
								<h4 class="m-top-3">Windows 10</h4>
								<p>點選「開始」，選擇「語音錄音機」，開啟錄音程式。</p>
								<p>如果找不到程式，可以至 Microsoft 官網下載：<a href="http://bit.ly/2pChtjz" target="_balnk">http://bit.ly/2pChtjz</a></p>
							</li>
							<li>
								<h4 class="m-top-3">Mac</h4>
								<p>你可以選擇 Mac 內建的 QuickTime Player 或是 Garageband。</p>
								<p>QuickTime Player 錄音教學請參考 <a href="https://briian.com/31075/" target="_blank">https://briian.com/31075/</a>。<br>※ 須注意：QuickTime 僅能儲存 .m4a 格式，請先轉檔成 .mp3 格式再到節目管理後台上傳。</p>
								<p>Garageband 錄音教學請參考<br><a href="https://www.apple.com/tw/support/garageband/podcasts/recording/" target="_balnk">https://www.apple.com/tw/support/garageband/podcasts/recording/</a></p>
							</li>
							<li>
								<h4 class="m-top-3">或選用免費的線上錄音工具。</h4>
								<p><a href="https://online-voice-recorder.com/tw/" target="_blank">https://online-voice-recorder.com/tw/</a></p>
							</li>
						</ul>
					</div>
				</li>
				<li id="choose-editing-software">
					<h3 class="question"><a href="#choose-editing-software">Q：我可以使用什麼軟體剪輯節目？</a></h3>
					<div class="answer">
						<ul>
							<li>
								<h4>Windows</h4>
								<p>推薦你使用 Audacity 進行剪輯，或者選擇更專業的 Adobe Audition。</p>
								<p>Audacity 由此下載<br><a href="http://www.audacityteam.org/download/" target="_blank">http://www.audacityteam.org/download/</a></p>
								<p>Audacity 操作教學<br><a href="http://blog.baabao.com/2017/03/audacity.html" target="_blank">http://blog.baabao.com/2017/03/audacity.html</a></p>
								<p>Adobe Audition 由此下載<br><a href="http://www.adobe.com/tw/products/audition.htmldownload/" target="_blank">http://www.adobe.com/tw/products/audition.html</a></p>
							</li>
							<li>
								<h4 class="m-top-3">Mac</h4>
								<p>推薦你使用 Mac 內建的 Garageband 直接進行錄製與剪輯，或者選擇更專業的 Adobe Audition。</p>
								<p>Garageband 由此下載<br><a href="https://www.apple.com/tw/mac/garageband/" target="_blank">https://www.apple.com/tw/mac/garageband/</a></p>
								<p>Adobe Audition 由此下載<br><a href="http://www.adobe.com/tw/products/audition.htmldownload/" target="_blank">http://www.adobe.com/tw/products/audition.html</a></p>
							</li>
							<li>
								<h4 class="m-top-3">更多剪輯教學</h4>
								<p>剪輯：7 個小技巧教你快速編輯節目<br><a href="http://blog.baabao.com/2017/04/blog-post.html" target="_blank">http://www.adobe.com/tw/products/audition.html</a></p>
								<p>剪輯：掌握這些觀念，你也可以快速編輯網播節目<br><a href="http://blog.baabao.com/2017/04/7.html" target="_blank">http://blog.baabao.com/2017/04/7.html</a></p>
							</li>
						</ul>
					</div>
				</li>
				<li id="see-program-analytics">
					<h3 class="question"><a href="#see-program-analytics">Q：如何知道我的節目收聽成效？</a></h3>
					<div class="answer">
						<p>八寶會自動蒐集節目的收聽資料，包含收聽次數、收聽人數、收聽時間、時段、訂閱數，以及單集的各個區間的收聽率。幫助製作人運用這些資料來調整節目內容，以更符合聽眾期望或提高收聽率。</p>
						<p>點擊導覽列的會員選單，選擇「數據統計」。</p>
						<img src="static/images/faq/5-1.jpg" alt="進入數據統計">
						<p>在數據統計首頁，你可以看到所有節目的累積數據。點擊下方的「節目標題」可以觀看該節目的詳細數據。</p>
						<img src="static/images/faq/5-2.jpg" alt="查看節目數據">
						<p>若你想觀看某則單集的數據，可以點擊單集列表的該則「單集標題」，即可觀看詳細的單集數據。</p>
						<img src="static/images/faq/5-3.jpg" alt="查看單集數據">
						<p>你也可以由節目管理的列表中，點擊「更多」按鈕並選擇「數據」，將可直接連結到該節目或單集的數據頁面。</p>
						<img src="static/images/faq/5-4.jpg" alt="查看數據">
					</div>
				</li>
				<li id="get-more-listeners">
					<h3 class="question"><a href="#get-more-listeners">Q：要怎麼讓更多人收聽我的節目？</a></h3>
					<div class="answer">
						<ul>
							<li>
								<h4>優質的節目內容</h4>
								<p>好的廣播節目包括音質、表現與內容等條件，我們的建議有：</p>
								<ul>
									<li>
										<p>請在安靜的環境中使用專業麥克風錄製，因為電腦或手機內建的麥克風容易收到環境雜音。另外，在剪輯或預覽時要注意是否有電流、噴麥等雜訊聲，保持音量的平穩，不要爆音或忽大忽小。悅耳的音質更適合長時間收聽並且讓人心情愉悅。</p>
										<p>如何調整完美音質<br><a href="http://blog.baabao.com/2017/03/audacity.html" target="_blank">http://blog.baabao.com/2017/03/audacity.html</a></p>
										<p>如何在家打造安靜錄音室<br><a href="http://blog.baabao.com/2017/04/3.html" target="_blank">http://blog.baabao.com/2017/04/3.html</a></p>
									</li>
									<li>
										<p>說話盡量咬字清晰，但不必故意模仿主播語調，自然、輕鬆大方即可。保持連貫有邏輯的談話，並適時帶點語氣與情緒，太平穩的語調容易讓人疲乏有倦意。</p>
									</li>
									<li>
										<p>選擇近期的熱門話題會比較容易吸引聽眾，但切勿討論敏感、不雅的內容，以避免違反平台使用條款甚至法律。你也可以透過剪輯、加入一些可使用版權的音效與背景襯樂來豐富節目內容。讓節目的風格保有個性與特色，可以加強聽眾的印象，並區隔其他雷同的節目。</p>
									</li>
								</ul>
							</li>
							<li>
								<h4>詳細的節目資訊</h4>
								<p>建立節目與單集時，請詳細地填寫標題、敘述、分類與標籤等資訊，聽眾會更瞭解你的節目內容，也更容易透過搜尋引擎找到你的節目。如果你的節目封面設計得很有特色，而非僅是風景或不雅的照片，甚至有專屬 Logo，必定會吸引聽眾的好奇以及加強節目的辨識度。</p>
							</li>
							<li>
								<h4>持續更新節目</h4>
								<p>盡可能保持固定、快速的更新頻率，但不用到每天更新或是更頻繁。你可以決定自己的更新頻率，例如每週一晚上，如此可以建立聽眾的收聽習慣。重要的是，不要忘記或長時間沒有更新，讓聽眾遺忘節目而流失。</p>
							</li>
							<li>
								<h4>分享與互動</h4>
								<p>更新節目單集後，記得將節目分享至社群媒體宣傳，如 Facebook、Twitter、LINE，或是嵌入至網站、部落格內，讓聽眾可以快速輕易的接觸到節目。並且與聽眾們保持良性的互動，會保持聽眾的黏著度。</p>
								<p>如何獲得聽眾回饋<br><a href="http://blog.baabao.com/2017/03/5_29.html" target="_blank">http://blog.baabao.com/2017/03/5_29.html</a></p>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div> <!-- /#produce -->
		<div id="faq-listen" class="m-bottom-5 p-top-3">
			<h2 class="title m-bottom-3">節目收聽</h2>
			<ul class="faq">
				<li id="where-can-i-listen">
					<h3 class="question"><a href="#where-can-i-listen">Q：我可以在哪些平台收聽？</a></h3>
					<div class="answer">
						<p>在電腦及行動裝置開啟八寶網頁皆可收聽節目，或是至 App Store 與 Google Play 下載 Baabao App。</p>
						<ul>
							<li>
								<p>iOs 用戶請往這邊 → <a href="http://apple.co/2ok0HJF" target="_blank">http://apple.co/2ok0HJF</a></p>
							</li>
							<li>
								<p>Android 用戶請往這邊 → <a href="http://bit.ly/2pbw3kI" target="_blank">http://bit.ly/2pbw3kI</a></p>
							</li>
						</ul>
					</div>
				</li>
				<li id="should-i-need-to-sign-up">
					<h3 class="question"><a href="#should-i-need-to-sign-up">Q：收聽節目需要先加入會員嗎？</a></h3>
					<div class="answer">
						<p>不須加入會員即可免費收聽節目；但加入會員可擁有「訂閱節目」及「接續播放」的功能，收聽節目更省時更方便。</p>
					</div>
				</li>
				<li id="can-not-hear-sound">
					<h3 class="question"><a href="#can-not-hear-sound">Q：播放單集時聽不到聲音</a></h3>
					<div class="answer">
						<p>1. 確認你的播放硬體（喇叭、耳機）有正確接上播放裝置。<br>2. 確認系統的音源輸出是你的播放裝置，並且有開啟聲音。<br>3. 試著重新整理頁面並再次播放單集。</p>
					</div>
				</li>
				<li id="can-not-find-program">
					<h3 class="question"><a href="#can-not-find-program">Q：找不到想找的節目？</a></h3>
					<div class="answer">
						<p>你可以藉由「搜尋」或是從「節目分類」中找尋你想聽的節目，如果你喜歡該節目也可以訂閱，後續便可以從「我的訂閱」內找到該節目。</p>
					</div>
				</li>
				<li id="can-not-find-subscription">
					<h3 class="question"><a href="#can-not-find-subscription">Q：找不到你訂閱的節目？</a></h3>
					<div class="answer">
						<p>登入會員後，點擊右上角的頭圖，在下拉選單中選擇「我的訂閱」，即可找到訂閱的節目。</p>
					</div>
				</li>
				<li id="can-i-download-episode">
					<h3 class="question"><a href="#can-i-download-episode">Q：我能不能離線收聽節目？</a></h3>
					<div class="answer">
						<p>為了提供使用者更高的收聽彈性，八寶的節目都是線上串流服務。</p>
					</div>
				</li>
				<li id="can-i-continue-listening">
					<h3 class="question"><a href="#continue-listening">Q：我可以在不同平台間接續收聽節目嗎？</a></h3>
					<div class="answer">
						<p>可以，在不同平台都可以接續收聽未聽完的節目喔！</p>
					</div>
				</li>
			</ul>
		</div> <!-- /#listen -->
		<p>還是沒有解決你的問題嗎？請來信：<a href="mailto:hello@baabao.com">hello@baabao.com</a></p>
	</div> <!-- /content-right -->
</div> <!-- /row -->
<div class="back-to-top">
	<a class="btn btn-icon btn-secondary" href="#top" title="回到頂端">
		<i class="ic ic-top"></i>
	</a>
</div> <!-- /back-to-top -->