<% @title= "Baabao 八寶網路廣播" %>
<% content_for :fullpage do %>
<section class="hero-banner">
	<div class="hero-content">
		<div class="vertical-wrapper">
			<div class="inner p-left-5">
				<h1>你的獨特觀點值得世界聆聽</h1>
				<h2>輕鬆製作節目、建立社群、創造收益，八寶網播幫你完成所有廣播理想</h2>
				<button class="btn btn-primary btn-lg btn-apply" type="button">成為 DJ</button>
				<a href="management.html" class="btn btn-primary btn-lg btn-management hide">上傳節目</a>
			</div> <!-- /inner -->
		</div> <!-- /vertical-wrapper -->
	</div> <!-- /hero-content -->
</section> <!-- /hero-banner -->
<section class="index-section p-top-8 p-bottom-8">
	<div class="inner">
		<h2 class="t-center">為什麼選擇八寶？</h2>
		<div class="row">
			<div class="col-4">
				<img src="static/images/intro-1.png" class="whole-block m-bottom-3" alt="輕鬆管理你的節目">
				<h3 class="t-center">簡易的管理介面</h3>
				<p class="m-bottom-0">八寶簡單好操作的節目管理後台，上傳廣播節目輕鬆省時。</p>
			</div> <!-- /col-4 -->
			<div class="col-4">
				<img src="static/images/intro-2.png" class="whole-block m-bottom-3" alt="詳細分析你的聽眾">
				<h3 class="t-center">詳細的收聽數據</h3>
				<p class="m-bottom-0">從收聽長度到收聽時段、訂閱人數，登入八寶製作後台，都可清楚掌握使用者收聽習慣。</p>
			</div> <!-- /col-4 -->
			<div class="col-4">
				<img src="static/images/intro-3.png" class="whole-block m-bottom-3" alt="分享至你的網站">
				<h3 class="t-center">嵌入播放器</h3>
				<p class="m-bottom-0">漂亮又好用的嵌入播放器，讓你隨處皆可分享你的節目。</p>
			</div> <!-- /col-4 -->
		</div> <!-- /row -->
	</div> <!-- /inner -->
</section> <!-- /index-section -->
<section class="index-section p-top-10 p-bottom-10 bg-gray">
	<div class="inner">
		<h2 class="m-bottom-5 t-center">如何在八寶製作網播節目？</h2>
		<div class="row">
			<div class="col-4">
				<img src="static/images/intro-producer.png" class="whole-block" alt="加入八寶">
			</div> <!-- /col-4 -->
			<div class="col-8">	
				<h3>1. 註冊會員</h3>
				<p class="m-bottom-3">免去繁複的註冊流程，只要使用 Facebook 及 Google 帳號即可快速註冊。</p>
				<h3>2. 成為 DJ</h3>
				<p class="m-bottom-3">登入會員後，點選頁面上方的「成為 DJ」，即可開始建立網播節目。</p>
				<h3>3. 上傳節目</h3>
				<p class="m-bottom-0">進入管理後台，即可發佈錄好的網播節目與分享。</p>
			</div> <!-- /col-8 -->
		</div> <!-- /row -->
	</div> <!-- /inner -->
</section> <!-- /index-section -->
<section class="index-section p-top-10 p-bottom-10">
	<div class="inner">
		<h2 class="t-center m-bottom-5">為你的節目創造更多價值</h2>
		<div class="row m-bottom-5">
			<div class="col-4">
				<div class="row">
					<div class="col-4">
						<img src="static/images/value-1.png" class="whole-block" alt="原生聲音廣告">
					</div>
					<div class="col-8 p-left-0">
						<h3>原聲廣告</h3>
						<p class="m-bottom-0">讓你的熱門節目為你增加收益，放置專屬節目的風格廣告。</p>
					</div>
				</div>
			</div> <!-- /col-4 -->
			<div class="col-4">
				<div class="row">
					<div class="col-4">
						<img src="static/images/value-2.png" class="whole-block" alt="官方合作">
					</div>
					<div class="col-8 p-left-0">
						<h3>官方合作</h3>
						<p class="m-bottom-0">你擁有好口才、超多鬼點子嗎？成為八寶簽約 DJ，一起製作高人氣節目。</p>
					</div>
				</div>
			</div> <!-- /col-4 -->
			<div class="col-4">
				<div class="row">
					<div class="col-4">
						<img src="static/images/value-3.png" class="whole-block" alt="商業演出">
					</div>
					<div class="col-8 p-left-0">
						<h3>商演機會</h3>
						<p class="m-bottom-0">發崛平台上有潛能的 DJ，提供喜歡展現自我的你走向幕前的商業演出。</p>
					</div>
				</div>
			</div> <!-- /col-4 -->
		</div> <!-- /row -->
		<div class="t-center">
			<button class="btn btn-primary btn-lg btn-apply" type="button">成為 DJ</button>
			<a href="management.html" class="btn btn-primary btn-lg btn-management hide">上傳節目</a>
		</div> <!-- /t-center -->
	</div> <!-- /inner -->
</section> <!-- /index-section -->
<section class="p-top-3 p-bottom-3 bg-gray">
	<div class="inner">
		<p class="t-center m-bottom-0">有更多想法想與我們討論嗎？歡迎 <a href="mailto:hello@baabao.com">聯繫我們</a></p>
	</div>
</section>
<section class="index-section p-top-10">
	<div class="inner">
		<h2 class="t-center">熱門節目</h2>
		<%= render :partial => "carousel" %>
	</div>
</section> <!-- /index-section -->
<% end %>