<% @title= "登入/註冊 - Baabao 八寶網路廣播" %>
<div class="col-6 offset-3 t-center">
	<h2>登入/註冊 Baabao</h2>
	<p>成為 Baabao 會員可以訂閱喜歡的頻道，記錄你的收聽動態，擁有更好更方便的使用體驗。</p>
	<button type="button" class="btn btn-block btn-fb m-bottom-2"><i class="ic ic-fb"></i> 使用 Facebook 帳號登入</button>
  <button type="button" class="btn btn-block btn-google"><i class="ic ic-google"></i> 使用 Google 帳號登入</button>
</div>