<% @title= "節目管理 - Baabao 八寶網路廣播" %>
<div class="row m-bottom-3">
  <div class="col-10">
		<h2 class="breadcrumb ellipsis m-bottom-0"><a href="management.html">節目管理</a>超無狄der</h2>
	</div> <!-- /col-10 -->
	<div class="col-2 t-right">
		<button class="btn btn-primary btn-create-ep" type="button">
      <i class="ic ic-add"></i> 新增單集
    </button>
	</div> <!-- /col-2 -->
</div> <!-- /row -->
<div class="divider m-bottom-5"></div> <!-- /divider -->
<div class="t-center">
  <p>沒有任何單集</p>
</div> <!-- /t-center -->
<%= render :partial => "modal-create-ep" %>