<% @title= "節目管理 - Baabao 八寶網路廣播" %>
<div class="row m-bottom-3">
  <div class="col-10">
    <h2 class="breadcrumb ellipsis m-bottom-0">節目管理</h2>
  </div>
</div> <!-- /row -->
<div class="divider m-bottom-5"></div> <!-- /divider -->
<div class="t-center">
  <p>沒有任何節目</p>
  <p class="m-bottom-3">如果你是第一次使用八寶，可以選擇「新手教學」，只要簡單三步驟就能完成節目上架喔！</p>
  <a href="management-tutorial.html" class="btn btn-outline-primary m-right-1">新手教學</a>
  <button class="btn btn-primary btn-create-pg" type="button">建立新節目</button>
</div> <!-- /t-center -->
<%= render :partial => "modal-create-pg" %>
