<% @title= "節目管理 - Baabao 八寶網路廣播" %>
<div class="row m-bottom-3">
  <div class="col-10">
    <h2 class="breadcrumb ellipsis m-bottom-0"><a href="management_empty.html">節目管理</a>新手教學</h2>
  </div> <!-- /col-10 -->
</div> <!-- /row -->
<ul class="nav-tab is-divided nav-tutorial-step m-bottom-5">
	<li class="done"><a href="management-tutorial.html" class="is-block">1. 建立節目</a></li>
	<li class="done"><a href="management-tutorial_2.html" class="is-block">2. 上傳檔案</a></li>
	<li class="active"><a href="javascript: void(0)" class="is-block">3. 分享</a></li>
</ul> <!-- /nav-tutotial -->
<div class="step-content clearfix m-bottom-3">
	<h3 class="t-center">太棒了！節目已經成功發佈</h3>
	<p>現在就把節目分享至社群媒體或嵌入網站、部落格，讓聽眾可以立即聽到節目。另外，建議詳細地填寫節目及單集介紹，這將會為節目吸引更多聽眾。</p>
</div> <!-- /step-content -->
<div class="t-center">
	<a href="management.html" class="btn btn-default m-right-1">完成</a>
	<a href="javascript: void(0)" class="btn btn-primary btn-share-ep">立刻分享</a>
</div> <!-- /t-center -->
<%= render :partial => "modal-share-ep" %>