<% @title= "人才招募 - Baabao 八寶網路廣播" %>
<h2>人才招募</h2>
<div class="divider"></div> <!-- /divider -->
<div class="row">
	<div class="col-3 p-top-4">
		<ul class="list list-link list-side-link">
			<li class="active"><a href="#intro">公司簡介</a></li>
			<li><a href="#sec-1">社群行銷專員</a></li>
			<li><a href="#sec-2">iOS 工程師</a></li>
		</ul>
	</div> <!-- /col-3 -->
	<div class="col-9 p-left-3 p-top-2 content-right">
		<div id="intro" class="m-bottom-5 p-top-3">
			<h2 class="title m-bottom-3">八寶簡介</h2>
			<p>我們是一群對廣播有熱情、有理想的人，想在台灣帶起自製廣播的風潮，打破傳統廣播較為封閉、保守的刻板印象。我們提供使用者製作與分享的空間，讓有興趣的人都可以經營聲音的自媒體，累積聽眾和影響力。</p>
			<p>為了提供使用者最好的用戶體驗，Baabao 支援網站及 iOS、Android 三平台，持續蒐集用戶回饋讓平台更加進化，未來將提供更友善的節目管理及數據的後台，以及更多聽眾個人化的服務。</p>
			<p>我們的目標是讓加入 Baabao 的每個人都能找到歸屬感，找到志同道合的朋友，共同享受優質的廣播節目。</p>
			<p class="m-bottom-3">如果你對廣播節目有著極高的熱情，也認同廣播節目有改變的機會，對網路產業懷抱興趣，歡迎加入我們，一起建立台灣最棒的網路廣播社群！</p>
			<h3>福利制度</h3>
			<ul class="m-bottom-3 list-with-dot">
				<li>免打卡，彈性上下班時間</li>
				<li>週休二日，不須加班</li>
				<li>勞保、健保、退休金提撥</li>
				<li>優於勞基法之給假標準</li>
				<li>電影欣賞、下午茶、慶生會、員工旅遊</li>
				<li>組織扁平、快速成長，你會有最好的成長環境和表現舞台</li>
			</ul>
			<div class="alert alert-info">歡迎各界人才毛遂自薦，請將您的個人履歷及作品直接 e-mail 至 <a href="mailto:hello@baabao.com">hello@baabao.com</a>，我們將認真看待每一份履歷，經篩選後，合適者另行通知面試機會與時間。</div>
		</div> <!-- /#intro -->
		<div id="sec-1" class="m-bottom-5 p-top-3">
			<h2 class="title m-bottom-3">社群行銷專員</h2>
			<h3>工作內容</h3>
			<ul class="m-bottom-3 list-with-dot">
				<li>管理八寶社群，如 Facebook, Twitter, Instagram, Blogger, YouTube 等，提升社群媒體參與度</li>
				<li>文字能力強，能夠把複雜的概念轉換成簡單但有力的行銷內容</li>
				<li>能獨立策劃及創造收聽群有興趣的內容</li>
				<li>熱愛和人互動，樂於每日管理及回應社群來的訊息</li>
				<li>追蹤社群媒體流量及廣告成效</li>
			</ul>
			<h3>職缺條件</h3>
			<ul class="m-bottom-3 list-with-dot">
				<li>對廣播有熱情，有收聽 Podcast 習慣更佳</li>
				<li>有 2~3 年 B2C 的社群管理經驗</li>
				<li>對 Facebook, Twitter, Instagram, YouTube 等主流社群平台有操作經驗</li>
				<li>精通長篇文案撰寫</li>
				<li>大學畢，大傳、廣告或行銷系相關科系佳</li>
				<li>彈性高，可以適應快速改變的新創環境</li>
			</ul>
			<a class="btn btn-outline-secondary" href="https://www.104.com.tw/job/?jobno=4yxeg&jobsource=n104bank1&hotjob_chr=" target="_blank">104 職缺說明</a>
		</div> <!-- /#sec-1 -->
		<div id="sec-2" class="m-bottom-5 p-top-3">
			<h2 class="title m-bottom-3">iOS Developer</h2>
			<h3 class="m-top-4">工作內容</h3>
			<ul class="m-bottom-3 list-with-dot">
				<li>createing / Improving applications for both producers and listeners.</li>
			</ul>
			<h3 class="m-top-4">職缺條件</h3>
			<ul class="m-bottom-3 list-with-dot">
				<li>對廣播有熱情，有收聽 Podcast 習慣更佳</li>
				<li>Familiar with Swift (or Objective-C), and Xcode related develop tool
				1+ years of iOS development.</li>
				<li>Experience collaborating with backend developers to design APIs.</li>
				<li>Extensive experience developing high performance iOS applications.</li>
				<li>Self-motivated / Quick leaner.</li>
			</ul>
			<h3 class="m-top-4">加分條件</h3>
			<ul class="m-bottom-3 list-with-dot">
				<li>Have published at least 1 iOS app in the app store
				iOS Async programming experience</li>
				<li>Experience with automated testing and continuous integration
				Scrum, TDD experience</li>
			</ul>
			<a class="btn btn-outline-secondary" href="https://www.104.com.tw/job/?jobno=55njo&jobsource=n104bank1" target="_blank">104 職缺說明</a>
		</div> <!-- /#sec-2 -->
	</div> <!-- /content-right -->
</div> <!-- /row -->
<div class="back-to-top">
	<a class="btn btn-icon btn-secondary" href="#top" title="回到頂端">
		<i class="ic ic-top"></i>
	</a>
</div> <!-- /back-to-top -->