<% @title= "標籤“電影” - Baabao 八寶網路廣播" %>
<h2>含有標籤“電影”的單集</h2>
<ul class="list-hover list-tag m-bottom-3">
	<% 10.times do %>
	<li>
		<div class="row">
			<div class="col-2">
				<div class="card-artwork">
					<img src="static/images/cover.jpg" alt="超無狄der。青少年變種忍者龜與電影忍者龜變種世代">
					<div class="card-overlay">
						<a class="card-artwork-link" href="episode.html"></a>
						<button class="btn btn-icon btn-primary btn-play" type="button">
							<i class="ic ic-play"></i>
						</button>
					</div> <!-- /card-overlay -->
				</div> <!-- /card-artwork -->
			</div> <!-- /col-2 -->
			<div class="list-tag-content col-10">
				<h3 class="ellipsis m-bottom-1"><a href="episode.html">超無狄der。12。百變英雄-TVBS攝影記者趙立</a></h3>
				<p class="pg-title m-bottom-1"><a href="program.html">超無狄der</a></p>
				<p class="webkit-ellipsis-2 m-bottom-1">陳小狄+吳阿超=無敵脫口秀。 什麼都能聊，什麼都敢聊，聊到停不了!! 什麼都能喬，什麼都敢喬，喬到停不了!! 什麼都能笑，什麼都好笑，笑到彎腰了!!</p>
				<div class="meta">
					<span class="ep-clap m-right-3">
						<img src="static/images/clap-purple.png" alt="鼓掌數"> 123
					</span><span>2016/11/12</span>
				</div> <!-- /meta -->
			</div> <!-- /list-tag-content -->
		</div> <!-- /row -->
	</li>
	<% end %>
</ul> <!-- /list-ep -->
<div class="t-center">
	<button class="btn btn-default" type="button">載入更多</button>
</div> <!-- /t-center -->

