<% @title= "使用條款 - Baabao 八寶網路廣播" %>
<%= render :partial => "terms-content" %>
<div class="back-to-top">
	<a class="btn btn-icon btn-secondary" href="#top" title="回到頂端">
		<i class="ic ic-top"></i>
	</a>
</div> <!-- /back-to-top -->