<% @title= "製作教學 - Baabao 八寶網路廣播" %>
<h2>製作教學</h2>
<div class="divider"></div>
<div class="row">
	<div class="col-3 p-top-4">
		<ul class="list list-link list-side-link">
			<li class="active"><a href="#equipment">器材準備</a></li>
			<li><a href="#software">軟體設定</a></li>
			<li><a href="#plan">節目企製</a></li>
			<li><a href="#record">錄製</a></li>
			<li><a href="#edit">剪輯</a></li>
		</ul>
	</div>
	<div class="col-9 p-left-3 p-top-2 content-right">
		<div id="equipment" class="m-bottom-5 p-top-3">
			<h3 class="title m-bottom-3">器材準備</h3>
			<p></p>
		</div> <!-- /equitment -->
	</div>
</div>