$purple: #7876DD;
$light-purple: #DCDCF9;
$dark-purple: #4C4ABB;
$pink: #E97676;
$light-pink: #F1AEAE;
$dark-pink: #C64141;
$gray: #4D4D4D;
$light-gray: #787878;
$dark-gray: #2F2F35;
$gray-border: #ddd;
$gray-bg: #f3f3f3;